* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

p {
    color: #000000;
    font-size: 16px;
}

h1 {
    font-weight: bolder;
}

h2 {
    margin-bottom: 20px;
    font-weight: bolder;
}

h3 {
    font-size: 16px ;
    font-weight: bolder;
}

h4 {
    font-weight: bolder;
}

header {

    font-family: 'Trebuchet Ms', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #447ddf;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard {
    margin: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside {
    width: 30%;
}

button {
    margin-top: 20px;
}

#recent-search {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-top: solid #020202;
    margin-top: 20px;
    padding-bottom: 20px;

}
#current-header{
    display: inline-flex;
    flex-direction: row;
}
#currentIcon{
    position: relative;
    top: -15px;
    
}

.result {
    display: flex;
    flex-wrap: wrap;
    width: 69%;

}

.current {
    width: 410%;
    height: 280px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid #020202;
    box-sizing: border-box;
}

.forcast {
    margin-left: 20px;
    margin-top: 10px;
    width: 410%;
    height: 380px;
}

button:hover{
    transition: 0.7ms;
    background-color: #aeaeae;
}

#forecast-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.forecastEl{
    padding-left: 0.5%;
    font-weight: bold;
    width: 15%;
    height: 54%;
    margin-top: 10px;
    background-color: #447ddf;
}

#Uvindex {
    border: 1px solid black;
    background-color: #008000;
    color: #ffffff;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5%;
}